.app{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}

#add-plant-button{
    background-color: lightgreen;
}

#add-plant-button:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

header{
    padding-bottom: 20px;
}